body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #3FE196;
  font-size: 50px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #1a1a1a;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #fff;
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  color: #3FE196;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #339E7D;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #1a1a1a;
}
