<!DOCTYPE html>
<html>

<head>
    <title> Crypto Portfolio</title>
    <link rel="stylesheet" type="text/css" href="/css/portfolio.css">
    <link rel="stylesheet" href="/css/global.css">
</head>

<body>
    <div class="firstp">
        <div class="navigation">
            <ul>
                <li id="homeOption" onclick="navigateTo('home')">Home</li>
                <li id="portfolioOption" onclick="navigateTo('portfolio')">Portfolio</li>
                <li id="accountOption" onclick="navigateTo('account')">Your Account</li>
                <li id="logoutOption" onclick="navigateTo('logout')">Logout</li>
            </ul>
        </div>
        <h1>Portfolio</h1>
        <div class="crypto-table">
            <table id="portfolioTable">
                <thead>
                    <tr>
                        <th id="name">
                            Name
                        </th>
                        <th id="symbol">
                            Symbol
                        </th>
                        <th id="currentPrice">
                            Current Price (USD)
                        </th>
                        <th id="amount">
                            Amount
                        </th>
                        <th id="purchasePrice">
                            Purchase Price
                        </th>
                        <th id="baseValue">
                            Base Value
                        </th>
                        <th id="currentValue">
                            Current Value
                        </th>
                        <th id="valueChange">
                            Value Change
                        </th>
                        <th id="percentChange">
                            Percent Change (%)
                        </th>
                    </tr>
                </thead>
                <tbody id="portfolioData">
                </tbody>
            </table>
            <h1>Buy/Sell</h1>
            <form id="buyOrSellForm">
                <div>
                    <label for="symbolInput">Symbol:</label>
                    <input type="text" id="symbolInput" name="symbol" required>
                </div>
                <div>
                    <label for="amountInput">Amount:</label>
                    <input type="number" id="amountInput" name="amount" required>
                </div>
                <div>
                    <label for="transaction">Transaction Type:</label>
                    <select id="transaction" name="transaction" required>
                        <option value="buy">Buy</option>
                        <option value="sell">Sell</option>
                    </select>
                </div>
                <button type="button" id="submitForm">Submit</button>
            </form>
        </div>
    </div>
    <script src="/js/portfolio.js"></script>
</body>

</html>
